<ion-view view-title="{{jobdetail.companyName}}:{{jobdetail.jobName}}">
	<ion-content>
		<ion-list>
			<ion-item class="item">
				<h1 class="calm" ng-bind="jobdetail.jobName"></h2>
				<p>{{jobdetail.companyName}}</p>
				<p>工作城市:{{jobdetail.jobCity}}</p>
				<p>月薪:{{jobdetail.jobSalary}}&nbsp;&nbsp;工作经验:{{jobdetail.jobExperience}}</p>
				<p>最低学历:{{jobdetail.jobEducation}}&nbsp;&nbsp;工作性质:{{jobdetail.jobFormality}}</p>
				<p>{{jobdetail.jobDate}}</p>
				<br />
				<p>
					<button class="button icon-right ion-android-arrow-forward button-positive" ng-click="showCompanyDetail()">
						查看公司介绍
					</button>
				</p>
			</ion-item>
			<div class="padding">
				<h4 class="calm">职位描述</h4>
				<p style="color:#5C5C5C" ng-bind-html="jobdetail.jobDescribe"></p>
			</div>
		</ion-list>
		
		
	</ion-content>
</ion-view>