<ion-view view-title="工作名称:{{jobdetail.jobName}}">
	<ion-content class="padding">
		<ion-list>
			<ion-item class="item item-button-right">
				<h1 class="calm" ng-bind="jobdetail.jobName"></h1>
				<p>工作城市:{{jobdetail.jobCity}}</p>
				<p>
					月薪:{{jobdetail.jobSalary}}&nbsp;&nbsp;工作经验要求:{{jobdetail.jobExperience}}&nbsp;&nbsp;
					最低学历:{{jobdetail.jobEducation}}&nbsp;&nbsp;工作性质:{{jobdetail.jobFormality}}
				</p>
				<p>发布时间:{{jobdetail.jobDate}}</p>
				<br />
				<br />
				<h2>{{jobdetail.companyName}}</h2>
				<h3>公司地址:{{jobdetail.companyAddress}}</h3>
				<button class="button button-positive" ng-click="showCompanyDetail()">
					查看公司介绍
					<i class="icon ion-android-arrow-forward"></i>
				</button>
				
			</ion-item>
			<ion-item>
				<p ng-bind-html="jobdetail.jobDescribe"></p>
			</ion-item>
		</ion-list>
		
		
	</ion-content>
</ion-view>