<ion-view view-title="个人中心">
	<ion-content class="padding-top">

		<div class="list card">
			<div class="item item-thumbnail-top" style="text-align:center;">
				<img src="../img/pirdeat.png" width="100dp" height="100dp">
				<h1 ng-hide="showUser.value">
					<a class="button button-outline button-assertive" style="min-width:80px;width:120px" href="#/tab/login">
						登录
					</a>
				</h1>
				<h2 ng-show="showUser.value" ng-bind="user.username">
					 
				</h2>
			</div>
			<a class="item item-icon-left">
				<i class="icon ion-android-contact"></i> 我的资料
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-ios-heart"></i> 我的收藏
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-chatbubble-working"></i> 申请记录
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-ios-paper"></i> 我的黑名单
			</a>
		</div>
	</ion-content>
</ion-view>