<ion-view view-title="工作搜索">
	<ion-content class="padding">
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-ios-search-strong placeholder-icon"></i>
				<input type="text" placeholder="请输入行业关键字,如:Java,运维工程师">
			</label>
			<a class="item item-icon-right" href="#/home/selectcity">
				工作城市
				<i class="icon ion-ios-arrow-right"></i>
				<span class="item-note" ng-bind="jobselect.city">
				</span>
			</a>
			<a class="item item-icon-right" href="#/home/selectjob1">
				职位类别
				<i class="icon ion-ios-arrow-right"></i>
				<span class="item-note" ng-bind="jobselect.subCate">
    			</span>
			</a>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="searchJob()">
				搜索
			</button>
		</div>
	</ion-content>
</ion-view>