<ion-view view-title="职位选择">
	<ion-content class="padding">

		<div class="list list-inset">
			<div class="item item-divider item-stable">
				技术
			</div>
				<a ng-click="JiShuSubMenuClick(0)" class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;后端开发
					<i ng-hide="JiShusubMenuShow[0]" class="icon ion-ios-arrow-down"></i>
					<i ng-show="JiShusubMenuShow[0]" class="icon ion-ios-arrow-up"></i>
				</a>
					<div ng-show="JiShusubMenuShow[0]">
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Java
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Python
						</div>
						
					</div>
				<a ng-click="JiShuSubMenuClick(1)" class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;移动开发
					<i ng-hide="JiShusubMenuShow[1]" class="icon ion-ios-arrow-down"></i>
					<i ng-show="JiShusubMenuShow[1]" class="icon ion-ios-arrow-up"></i>
				</a>
					<div ng-show="JiShusubMenuShow[1]">
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HTML5
						</div>
					</div>
				<a ng-click="JiShuSubMenuClick(2)" class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;前端开发
					<i ng-hide="JiShusubMenuShow[2]" class="icon ion-ios-arrow-down"></i>
					<i ng-show="JiShusubMenuShow[2]" class="icon ion-ios-arrow-up"></i>
				</a>
					<div ng-show="JiShusubMenuShow[2]">
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
					</div>
				<a ng-click="JiShuSubMenuClick(3)" class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;测试
					<i ng-hide="JiShusubMenuShow[3]" class="icon ion-ios-arrow-down"></i>
					<i ng-show="JiShusubMenuShow[3]" class="icon ion-ios-arrow-up"></i>
				</a>
					<div ng-show="JiShusubMenuShow[3]">
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
					</div>
				<a ng-click="JiShuSubMenuClick(4)" class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;运维
					<i ng-hide="JiShusubMenuShow[4]" class="icon ion-ios-arrow-down"></i>
					<i ng-show="JiShusubMenuShow[4]" class="icon ion-ios-arrow-up"></i>
				</a>
					<div ng-show="JiShusubMenuShow[4]">
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
					</div>
				<a ng-click="JiShuSubMenuClick(5)" class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;DBA
					<i ng-hide="JiShusubMenuShow[5]" class="icon ion-ios-arrow-down"></i>
					<i ng-show="JiShusubMenuShow[5]" class="icon ion-ios-arrow-up"></i>
				</a>
					<div ng-show="JiShusubMenuShow[5]">
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
					</div>
				<a ng-click="JiShuSubMenuClick(6)" class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;高端职位
					<i ng-hide="JiShusubMenuShow[6]" class="icon ion-ios-arrow-down"></i>
					<i ng-show="JiShusubMenuShow[6]" class="icon ion-ios-arrow-up"></i>
				</a>
					<div ng-show="JiShusubMenuShow[6]">
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
					</div>
				<a ng-click="JiShuSubMenuClick(7)" class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;项目管理
					<i ng-hide="JiShusubMenuShow[7]" class="icon ion-ios-arrow-down"></i>
					<i ng-show="JiShusubMenuShow[7]" class="icon ion-ios-arrow-up"></i>
				</a>
					<div ng-show="JiShusubMenuShow[7]">
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
					</div>
				<a ng-click="JiShuSubMenuClick(8)" class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;硬件开发
					<i ng-hide="JiShusubMenuShow[8]" class="icon ion-ios-arrow-down"></i>
					<i ng-show="JiShusubMenuShow[8]" class="icon ion-ios-arrow-up"></i>
				</a>
					<div ng-show="JiShusubMenuShow[8]">
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
					</div>
				<a ng-click="JiShuSubMenuClick(9)" class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;企业软件
					<i ng-hide="JiShusubMenuShow[9]" class="icon ion-ios-arrow-down"></i>
					<i ng-show="JiShusubMenuShow[9]" class="icon ion-ios-arrow-up"></i>
				</a>
					<div ng-show="JiShusubMenuShow[9]">
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
						<div class="item">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item
						</div>
					</div>
			<div class="item item-divider item-stable">
				产品
			</div>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;产品经理
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;产品设计师
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;高端职位
					<i class="icon ion-ios-arrow-down"></i>
				</a>
			<div class="item item-divider item-stable">
				设计
			</div>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;视觉设计师
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;用户研究
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;高端职位
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;交互设计
					<i class="icon ion-ios-arrow-down"></i>
				</a>
			<div class="item item-divider item-stable">
				运营
			</div>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;运营
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;编辑
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;客服
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;高端职位
					<i class="icon ion-ios-arrow-down"></i>
				</a>
			<div class="item item-divider item-stable">
				市场与销售
			</div>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;市场/营销
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;公关
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;销售
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;高端职位
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;供应链
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;采购
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;投资
					<i class="icon ion-ios-arrow-down"></i>
				</a>
			<div class="item item-divider item-stable">
				职能
			</div>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;人力资源
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;行政
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;财务
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;高端职位
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;法务
					<i class="icon ion-ios-arrow-down"></i>
				</a>
			<div class="item item-divider item-stable">
				金融
			</div>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;投融资
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;风控
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;审计税务
					<i class="icon ion-ios-arrow-down"></i>
				</a>
				<a class="item item-icon-right">
					&nbsp;&nbsp;&nbsp;&nbsp;高端职位
					<i class="icon ion-ios-arrow-down"></i>
				</a>
		</div>
	</ion-content>
</ion-view>